<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body style="background-color: blue">
    <h1 style="color: white">Results</h1>

    <table>
<% for(var i=0; i < data; i++) { %>
<tr>
 <td><%= data[i]%></td>
 </tr>
<% } %>
</table>

  </body>
</html>
